img {
  max-width: 100%; /* of the container */
  height: auto;
}

* {
  box-sizing: border-box;
  font: Arial;
}

ul.menubar li {
  display: inline;
}


div.responseField {
  border: 1px solid black;
}


#responseField div p {
  color: blue;
  text-align: left;
  font-size: 15px;
  font-weight: bold;
}

button.test {
  color: green;
}

