img {
  max-width: 100%; /* of the container */
  height: auto;
}

* {
  box-sizing: border-box;
  font: Arial;
}

div.responseField {
  border: 1px solid black;
}


.responseField h1 {
  color: red;
  text-align: center;
}

button.test {
  color: green;
}